html {
    /* for smooth scrolling */
    scroll-behavior: smooth !important;
}

body {
    background-color: rgba(255, 248, 220, 0.8);
    min-height: 100vh;
}

#add {
    /* main form can't be wider than 800px */
    max-width: 800px;
}

.meme {
    /* centered meme holder can't be wider than 400px */
    max-width: 400px !important;
    margin: 0 auto;
}

#myBtn {
    display: none;
    position: fixed;
    z-index: 98;
    border: none;
    bottom: 4vh;
    right: 4vw;
    outline: none;
    background-color: rgb(209, 119, 89);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: rgb(241, 203, 198);
    color: black;
}

button {
    /* remove border from all buttons */
    border: none !important;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 99;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 5vh;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 5vh;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 5vh;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 5vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 5vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}