html {
    /* for smooth scrolling */
    scroll-behavior: smooth !important;
}

body {
    background-color: rgba(255, 248, 220, 0.8);
    min-height: 100vh;
}

#add {
    /* main form can't be wider than 800px */
    max-width: 800px;
}

.meme {
    /* centered meme holder can't be wider than 400px */
    max-width: 400px !important;
    margin: 0 auto;
}

#myBtn {
    display: none;
    position: fixed;
    z-index: 99;
    border: none;
    bottom: 4vh;
    right: 4vw;
    outline: none;
    background-color: rgb(209, 119, 89);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: rgb(241, 203, 198);
    color: black;
}

button {
    /* remove border from all buttons */
    border: none !important;
}